In [1]:
import pandas as pd
from IPython.display import Markdown, display

### **SQL Murder Mystery**

A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a ​murder​ that occurred sometime on ​Jan.15, 2018​ and that it took place in ​SQL City​. Start by retrieving the corresponding crime scene report from the police department’s database.

### **Exploring the Database Structure**
Experienced SQL users can often use database queries to infer the structure of a database. But each database system has different ways of managing this information. The SQL Murder Mystery is built using SQLite. Use this SQL command to find the tables in the Murder Mystery database.

### **TABLES**

crime_scene_report   
drivers_license   
facebook_event_checkin   
interview   
get_fit_now_member   
get_fit_now_check_in   
solution   
income   
person

See `schema.png` for complete schema.

### **Crime Scene Report**
**Date**: January 15, 2018 (20180115)   
**Type**: Murder   
**City**: SQL City   

**Report**:  Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".

In [2]:
# dataframe for witness info that ive obtained so far
# this is just an easier way for me to store the information for later use
# if we could query the database a bit more effiently without having
# to use the websites frontend, I would just use SQL queries instead.

# i need to add these to the people_df
# 28819	Joe Germuska	173289	111	Fisk Rd	138909730
# 67318	Jeremy Bowers	423327	530	Washington Pl, Apt 3A	871539279
people_df = pd.DataFrame({
  'id': [16371, 14887, 28819, 67318], 
  'name': ['Annabel Miller', 'Morty Schapiro', 'Joe Germuska', 'Jeremy Bowers'],
  'license_id': [490173, 118009, 173289, 423327],
  'address_number': [103, 4919, 111, 530],
  'address_street_name': ['Franklin Ave', 'Northwestern Dr', 'Fisk Rd', 'Washington Pl, Apt 3A'],
  'ssn': [318771143, 111564949, 138909730, 871539279]
})

people_df

,id,name,license_id,address_number,address_street_name,ssn
0,16371,Annabel Miller,490173,103,Franklin Ave,318771143
1,14887,Morty Schapiro,118009,4919,Northwestern Dr,111564949
2,28819,Joe Germuska,173289,111,Fisk Rd,138909730
3,67318,Jeremy Bowers,423327,530,"Washington Pl, Apt 3A",871539279

In [3]:
annabel_mask = people_df['id'] == 16371
morty_mask = people_df['id'] == 14887
joe_mask = people_df['id'] == 28819
jeremy_mask = people_df['id'] == 67318

people_df.loc[annabel_mask,'transcript'] = (
  'I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.'
)

people_df.loc[morty_mask, 'transcript'] = (
  'I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W".'
)

people_df.loc[joe_mask, 'transcript'] = (
  'No transcript found.'
)

people_df.loc[jeremy_mask, 'transcript'] = (
  'I was hired by a woman with a lot of money. I don\'t know her name but I know she\'s around 5\'5" (65") or 5\'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017.'
)

people_df

,id,name,license_id,address_number,address_street_name,ssn,transcript
0,16371,Annabel Miller,490173,103,Franklin Ave,318771143,"I saw the murder happen, and I recognized the ..."
1,14887,Morty Schapiro,118009,4919,Northwestern Dr,111564949,I heard a gunshot and then saw a man run out. ...
2,28819,Joe Germuska,173289,111,Fisk Rd,138909730,No transcript found.
3,67318,Jeremy Bowers,423327,530,"Washington Pl, Apt 3A",871539279,I was hired by a woman with a lot of money. I ...

In [4]:
report_df = people_df[['id', 'name', 'license_id', 'address_number', 'address_street_name', 'ssn', 'transcript']]

markdown_table = report_df.to_markdown(index=False)

report = f"### **Witness Information**\n\n{markdown_table}"

display(Markdown(report))

### **Witness Information**

|    id | name           |   license_id |   address_number | address_street_name   |       ssn | transcript                                                                                                                                                                                                                                       |
|------:|:---------------|-------------:|-----------------:|:----------------------|----------:|:-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| 16371 | Annabel Miller |       490173 |              103 | Franklin Ave          | 318771143 | I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.                                                                                                                            |
| 14887 | Morty Schapiro |       118009 |             4919 | Northwestern Dr       | 111564949 | I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W".                  |
| 28819 | Joe Germuska   |       173289 |              111 | Fisk Rd               | 138909730 | No transcript found.                                                                                                                                                                                                                             |
| 67318 | Jeremy Bowers  |       423327 |              530 | Washington Pl, Apt 3A | 871539279 | I was hired by a woman with a lot of money. I don't know her name but I know she's around 5'5" (65") or 5'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017. |

In [5]:
# id	name	membership_id	check_in_date	check_in_time	check_out_time
# 28819	Joe Germuska	48Z7A	20180109	1600	1730
# 67318	Jeremy Bowers	48Z55	20180109	1530	1700
gym_df = pd.DataFrame({
  'id': [28819, 67318],
  'name': ['Joe Germuska', 'Jeremy Bowers'],
  'membership_id': ['48Z7A', '48Z55'],
  'check_in_date': [20180109, 20180109],
  'check_in_time': [1600, 1530],
  'check_out_time': [1730, 1700]
})

gym_df

,id,name,membership_id,check_in_date,check_in_time,check_out_time
0,28819,Joe Germuska,48Z7A,20180109,1600,1730
1,67318,Jeremy Bowers,48Z55,20180109,1530,1700